<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.studentproject.stayconnect" >

    <!-- added for push notification -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.studentproject.stayconnect.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <permission
        android:name="com.studentproject.stayconnect.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <!--/////////////////////////////-->

    <application
        android:allowBackup="true"
        android:icon="@drawable/puzzle_large"
        android:label="StayConnect"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name=".LoadScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".TestDatabaseActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.studentproject.stayconnect.MainActivity"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SingleAcronymActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.studentproject.stayconnect.DisplayAcronymActivity"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayAcronymActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName="com.studentproject.stayconnect.MainActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayDoctorListActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.studentproject.stayconnect.DoctorListActivity"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DoctorListActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"
            android:parentActivityName="com.studentproject.stayconnect.MainActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.RECEIVE" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.studentproject.stayconnect" />
            </intent-filter>
        </receiver>
        <service android:name=".GcmIntentService" />





    </application>

</manifest>